@model  AirlineApplication.Core.ViewModels.FlightsViewModel

@{
    ViewBag.Title = Model.Heading;
}

<div id="filterBar" class="sidenav">
    @using (Html.BeginForm("ShowFlights", "Flights"))
    {
        <div class="cd-filter-block">
            @Html.LabelFor(m => m.Filter.Departing,"Start point")
            @Html.DropDownListFor(m => m.Filter.Departing, new SelectList(Model.Airports, "AirportId", "Name"),"Choose your start point", new { @class = "form-control", id = "departure" })
            @Html.ValidationMessageFor(m => m.Filter.Departing)
        </div>

        <div class="cd-filter-block">
            @Html.LabelFor(m => m.Filter.Landing, "Destination point")
            @Html.DropDownListFor(m => m.Filter.Landing, new SelectList(Model.Airports, "AirportId", "Name"), "Choose your destination point", new { @class = "form-control", id = "landing" })
            @Html.ValidationMessageFor(m => m.Filter.Landing)
        </div>
        <div class="cd-filter-block">
            @Html.LabelFor(m => m.Filter.FlightStatus)
            @Html.DropDownListFor(m => m.Filter.FlightStatus, new SelectList(Model.Statuses, "StatusId", "Description"), "Choose flight status", new { @class = "form-control", id = "status" })
            @Html.ValidationMessageFor(m => m.Filter.FlightStatus)
        </div>
        <div class="cd-filter-block">
            @Html.LabelFor(m => m.Filter.Date)
            <div class='input-group date' id='datetimepicker1' style="width:200px">
                @Html.TextBoxFor(m => m.Filter.Date, new { @id = "date", placeholder = "Choose date" })
                <span class="input-group-addon" id="date">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <span>
            <button class="btn btn-link btn-sm" id="discard">Discard</button>
        </span>
        <button type="submit" class="btn btn-primary btn-lg" style="background-color: #7DC9E7">Filter</button>
    }

</div>
<div id="main">

    <h1>@Model.Heading</h1>

    <span style="font-size:30px;cursor:pointer" id="open">&#9776; Filters</span>

    @using (Html.BeginForm("Search", "Flights"))
    {
        <div class="form-group">
            <div id="searchFlights" class="input-group" style="width:300px">
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </div>
    }

    <table id="ex" class="table table-bordered">
        <thead class="info">
            <tr>
                <th  id="js-code-header" style="width:100px">
                            Code
                        <i class="fa fa-fw fa-sort" ></i>
                </th>
                <th id="js-date-header">
                    Date
                    <i class="fa fa-fw fa-sort" ></i>
                </th>
                <th>
                    Time
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th  style="width:100px">
                    Status
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th  id="js-dep-header">
                    Departing
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th >
                    Landing
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th >Delete</th>
            </tr>
        </thead>
        <tbody class="searchtable">
            @foreach (var flight in Model.Flights)
            {
                <tr>
                    <td>
                    @Html.ActionLink(flight.Code, "UpdateFlight", "Flights", new { id = flight.FlightId }, null)
                    </td>
                    <td>@flight.Date.ToShortDateString()</td>
                    <td>@flight.Date.TimeOfDay</td>
                    <td>@flight.FlightStatus.Value</td>
                    @foreach (var ar in @flight.Airports)
                    {
                        <td>@ar.Airport.Name</td>
                    }
                    <td>
                        <a href="#" class="js-delete-flight" data-flight-id="@flight.FlightId">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            filter.datetimepicker();
            filter.discard();
            filter.moveSidebar();

            FlightsController.cancel();
        });
    </script>
}
