@model  AirlineApplication.Core.ViewModels.FlightsViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Flight"))
{
    <div class="form-group">
        <div id="searchFlights" class="input-group" style="width:300px">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<table id="ex" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col">Departing</th>
            <th scope="col">Landing</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="searchtable">
        @foreach (var flight in Model.Flights)
        {
            <tr>
                <td>@Html.ActionLink(flight.Code, "UpdateFlight", "Flight", new { id = flight.FlightId }, null)</td>
                <td>@flight.Date.Date</td>
                <td>@flight.Date.TimeOfDay</td>
                <td>@flight.FlightStatus.Value</td>
                @foreach (var ar in @flight.Airports)
                {
                    <td>@ar.Airport.Name</td>
                }
                <td>
                    <a href="#" class="js-delete-flight" data-flight-id="@flight.FlightId">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-delete-flight").click(function (e) {
                var link = $(e.target);
                bootbox.dialog({
                    title: "Confirm",
                    message: "<p>Are you sure you want delete this flight</p>",
                    size: 'large',
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: `/api/flights/${link.attr('data-flight-id')}`,
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("tr").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function (xhr, status, error) {
                                        alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                                    });
                            }
                        },
                    }
                });
            });
        });
    </script>
}